{% extends "base.html" %} 
{% load static %} 
{% block title %} 
Eisaal Products 
{% endblock %} 
{% block content %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <img src="/{{getPro.Product_Img}}" width="500px" height="385px" />
      </div>
    </div>
    <div class="col-md-8">
      <h5>{{getPro.Product_Name}}</h5>
      <p><b>₹{{getPro.Product_Price}}</b></p>
      <p>{{getPro.Product_Dec}}</p>
        <a href="/{{getPro.Sno}}/order"><button class="btn btn-outline-dark mx-3 my-2">Buy Now</button></a>
    </div>
  </div>
</div>

{% endblock %}
