<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy </title>
</head>
<body>
    <p> <b>Privacy Policy</b>
        We respect your privacy and are committed to protecting your personal information. Please refer to our Privacy Policy for more details.
        <b>Intellectual Property</b>
        All content on ShiaFiqh.com, including text, images, logos, and designs, is the property of ShiaFiqh.com and may not be used without prior permission.
        <b>Limitation of Liability</b>
        ShiaFiqh.com is not liable for any direct, indirect, or incidental damages resulting from the use or inability to use our services or products.
        <b>Governing Law</b>
        These Terms and Conditions are governed by the laws of india. Any disputes will be resolved under the jurisdiction of the courts in india.
        By using ShiaFiqh.com, you agree to these Terms and Conditions. If you have any questions, feel free to contact us at shortfiqh@gmail.com.
        
        Thank you for shopping with us!</p>
</body>
</html>